/* formatear valores  */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background: url(../img/background.jpg);
    background-repeat: repeat;
    /* para centrar
    background-position: top center;
    height: 1080px; */
}
header{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 83px;
    background: url(../img/cabezote.jpg);
}
nav{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 45px;
    border-bottom: 1px solid #bcd1cb;
    background: url(../img/nav.jpg);
}
nav ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 45px;
}
nav ul li{
    float: left;
    width: 124px;
    height: 45px;
    font-size: 14px;
    color: white;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#slide{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 301px;
}
#botoneraSlide{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 26px;
    background: url(../img/backBotonesSlide.jpg);
}
#botoneraSlide ul{
    position: relative;
    margin: auto;
    width: 100px;
    height: 26px;
}
#botoneraSlide ul li{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #232d86;
    border: 3px solid white;
    margin: 3px 2px;
}
#inicio{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 299px;
    background: white;
}
section#inicio ul li{
    float: left;
    width: 333px;
    height: 299px;
}
section#inicio ul li h1{
    margin: 23px 27px;
    font-weight: 100px;
    font-size: 25px;
}
section#inicio ul li p{
    margin: 23px 28px;
    font-size: 15px;
}
section#inicio ul li img{
    width: 273px;
    height: 83px;
    background: silver;
    margin: 1px 29px;
}
#bottom{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 196px;
    background: url(../img/backBottom.jpg);
}
#bottom ul li{
    float: left;
    width: 250px;
    height: 190px;
}
#bottom ul li h1{
    margin: 13px 18px;
    color: white;
    font-size: 18px;
    font-weight: 100px;
}
#bottom ul li ol{
    position: relative;
    top: 15px;
    left: 17px;
    width: 190px;
    height: 80px;
}
#bottom ul li ol li{
    height: 20px;
    text-align: left;
    list-style: inside;
    font-size: 15px;
    color: white;
    list-style-image: url(../img/list.png);
}
#bottom ul li img{
    position: relative;
    top: 15px;
    left: 15px;
    width: 95px;
    height: 95px;
    border: 4px solid white;
    background: url(../img/imgGaleria.jpg);
    background-size: cover;
}
#bottom ul li ul{
    position: relative;
    top: 11px;
    left: 15px;
    width: 200px;
    height: 40px;
}
#bottom ul li ul li{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: white;
    margin: 5px;
}
#bottom ul li ul li:first-child{
    background: url(../img/facebook.jpg);
    background-size: cover;
}
#bottom ul li ul li:nth-child(2){
    background: url(../img/iconoGoogle.jpg);
    background-size: cover;
}
#bottom ul li ul li:nth-child(3){
    background: url(../img/iconoPinterest.jpg);
    background-size: cover;
}
#bottom ul li ul li:last-child{
    background: url(../img/iconoTwitter.jpg);
    background-size: cover;
}
#bottom ul li ul li a{
    float: left;
    width: 40px;
    height: 40px;
}
footer{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 62px;
    text-align: center;
    color: white;
    line-height: 62px;
    font-size: 15px;
    background: black;
}
#logo{
    position: absolute;
    top: 17px;
    left: 15px;
    width: 188px;
    height: 47px;
}

#quienesSomos{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 299px;
    background: white;
    /* background: url(../img/quienesSomos.jpg); */
}
#quienesSomos h1{
    position: relative;
    top:15px;
    left: 27px;
    color: #1f1d21;
    font-weight: 100;
}
#quienesSomos hr{
    position: relative;
    top: 20px;
    width: 950px;
    margin: auto;
    border: 0.5px solid #c6c6c6c6;
}
#quienesSomos p{
    position: relative;
    top: 40px;
    width: 950px;
    margin: auto;
    color: #414042;
    text-align: justify;
}
#quienesSomos img{
    float: left;
    width: 272px;
    margin-right: 20px;
    margin-bottom: 10px;
}
#servicios{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 299px;
    background: white;
    /* background: url(../img/servicios.jpg); */
}
#cajaServicios{
    position: relative;
    top: 18px;
    width: 935px;
    height: 262px;
    margin: auto;
    box-shadow: 0px 0px 30px #222;
}
#lista{
    position: absolute;
    top: 26px;
    left: 15px;
    width: 151px;
    height: 220px;
}
#lista li{
    width: 151px;
    height: 72px;
    margin: 2px 0px;
    cursor: pointer;
}
#visor{
    position: absolute;
    top: 26px;
    right: 20px;
    width: 732px;
    height: 220px;
}
#visor li{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 732px;
    height: 220px;
}
#visor li h1{
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    color: #4d545a;
    font-weight: 100;
}
#visor li p{
    position: absolute;
    z-index: 1;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 97%;
    line-height: 60px;
    color: white;
    padding-left: 20px;
}
#contactenos{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 299px;
    background: white;
}
#contactenos form{
    position: relative;
    top: 32px;
    margin: auto;
    width: 910px;
    height: 232px;
    background: white;
}
#contactenos form input#nombre{
    position: absolute;
    padding: 10px;
    width: 272px;
    height: 45px;
    background: #dce9d7;
    border: 0;
}
#contactenos form input#email{
    position: absolute;
    top: 81px;
    padding: 10px;
    width: 272px;
    height: 45px;
    background: #dce9d7;
    border: 0;
}
#contactenos form input#asunto{
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 272px;
    height: 45px;
    background: #dce9d7;
    border: 0;
}
#contactenos form #mensaje{
    position: absolute;
    right: 0;
    padding: 10px;
    width: 581px;
    height: 128px;
    background: #dce9d7;
    border: 0;
}
#contactenos form #enviar{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    width: 604px;
    height: 69px;
    background: #1a1d26;
    color: white;
    border: 0;
}